<!DOCTYPE html>
<html>
<head>
    <title>Sondage</title>
    <!-- css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- css -->

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <!-- javascript -->
</head>
<body style="background-color: lightgrey;">
<hr width="600">
<h2 style="color: darkblue; text-align: center;">Votre sodange à été enregistré avec succès</h2>
<h2 style="color: darkblue; text-align: center;">Merci :)</h2>
<hr width="600">

<center>
	<a href="/" class="btn btn-outline-dark" style="border-radius: 20px;">Retour à l'accueil</a>
	<a href="sondages/1" class="btn btn-outline-dark" style="border-radius: 20px;">Voir les sondages</a>
</center>
</body>
</html>