<html>
<head>
    <title>Prendre un rendez-vous</title>
</head>
<body style="background-color: lightgrey;">
<a href="/" style="text-decoration: none; border: solid 1px lightgray; background-color: lightgray; color: black; text-align: left;">< Accueil</a>
<center>
    <h1>Ajout d'un nouveau participant</h1>
    <form action="/action" method="post">
        <div>
            <label for="nom">Titre : </label>
            <input type="text" id="nom" name="nom"/>
        </div>
        <div>
            <label for="prenom">Prénom : </label>
            <input type="text" id="prenom" name="prenom"/>
        </div>
        <div>
            <label for="email">Email : </label>
            <input type="text" id="email" name="email"/>
        </div>
        <input type="submit" value="Envoyer"/>
    </form>
</center>
</body>
<html>