<html>
<head>
    <title>Page d'accueil</title>
    <meta charset="utf-8" />

    <!-- CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JAVASCRIPT -->
    <script    src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>
<body style="background-color: lightgrey;">
<center>
<h2 style="text-decoration: underline; color: darkblue;">LP-RDV : Plannificateur de Rendez-vous</h2>
<hr width="600">
<p style="color: darkblue;">Cet outil vous permet de planifiez des Rendez-vous et de répondre à des sondages.</p>
<hr width="600">

<a href="form" class="btn btn-primary">Plannifier un nouveau rendez-vous</a>
</center>
</body>
<html>