<html>
<head>
    <title>Page d'accueil</title>
    <meta charset="utf-8" />

    <!-- css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <!-- javascript -->
</head>
<body>
<center>
<h2 style="text-decoration: underline; color: darkblue;">LP-RDV : Plannificateur de Rendez-vous</h2>
<hr width="600">
<p style="color: darkblue;">Cet outil vous permet de planifiez des Rendez-vous et de répondre à des sondages.</p>
<hr width="600">

<a href="form" class="btn btn-primary">Plannifier un nouveau rendez-vous</a>
    <img src="img/rdv.jpg" class="img-fluid" alt="Responsive image">
</center>
</body>
<html>