<html>
<head>
    <title>Page d'accueil</title>
    <!-- css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- css -->

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <!-- javascript -->
</head>
<body style="background-color: lightgrey;">
<a href="inscription" class="btn btn-dark" style="border-radius: 20px; float: right;"> + Inscription </a>
<center>
    <h2 style="text-decoration: underline; color: darkblue; text-align: center;">LP-RDV : Plannificateur de Rendez-vous</h2>
<hr width="1100">
<p style="color: darkblue; text-align: center;">Bienvenue sur la nouvelle interface de plannification de rendez-vous. Cet outil vous permet de planifiez des rendez-vous et de répondre à des sondages.</p>
<p style="color: darkblue; text-align: center;">Pour commencer à utiliser l'interface, veuillez vous identifiez s'il vous plaît --></p>
<hr width="1100">
    <form action="/profil" method="post">
        <h4 style="color: darkblue; text-decoration: underline dotted;">Connexion à votre compte</h4>
        <p></p>
        <div class="input-group mb-3" style="width: 30%;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Identifiant :</span>
            </div>
            <input type="text" id="identifiant" name="identifiant" class="form-control" required>
        </div>

        <div class="input-group mb-3" style="width: 30%;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Mot de passe :</span>
            </div>
            <input type="password" id="motdepasse" name="motdepasse" class="form-control" required>
        </div>

        <p></p>
        <input type="submit" class="btn btn-primary" style="border-radius: 20px;" value="Connexion" />
        <p></p>
    </form>
</center>
</body>
<html>