<html>
<head>
    <title>Prendre un rendez-vous</title>
    <!-- css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- css -->

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <!-- javascript -->
</head>
<body style="background-color: lightgrey;">
<a href="/" class="btn btn-outline-dark" style="border-radius: 20px;">< Retour</a>
<center>
    <h2 style="color: darkblue; text-decoration: underline dotted;">Création d'un nouveau compte</h2>
    <hr width="500">
    <form action="/action" method="post">
        <div class="input-group mb-3" style="width: 30%;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Nom :</span>
            </div>
            <input type="text" id="nom" name="nom" class="form-control">
        </div>

        <div class="input-group mb-3" style="width: 30%;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Email :</span>
            </div>
            <input type="text" id="email" name="email" class="form-control">
        </div>

        <div class="input-group mb-3" style="width: 30%;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Mot de passe :</span>
            </div>
            <input type="text" id="mdp" name="mdp" class="form-control">
        </div>

        <div class="input-group mb-3" style="width: 30%;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Confirmation du mot de passe :</span>
            </div>
            <input type="text" id="confirm" name="confirm" class="form-control">
        </div>

        <p></p>
        <input type="submit" class="btn btn-outline-success" style="border-radius: 20px;" value="Envoyer" />
    </form>
    <hr width="500">
</center>
</body>
<html>