<html>
<head>
    <title>Page des participants</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- css -->

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <!-- javascript -->
</head>
<body style="background-color: lightgrey;">
<a href="/" class="btn btn-outline-dark" style="border-radius: 20px;">< Retour</a>
<center>
    <h2>Liste des rendez-vous actuels</h2>
    <table class="table" style="width: 50%;">
        <thead class="thead-light">
        <tr>
            <th>Participants</th>
            <th>02/06/2020</th>
            <th>04/06/2020</th>
            <th>05/06/2020</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Omar</th>
            <td contenteditable="true">X</td>
            <td contenteditable="true"></td>
            <td contenteditable="true"></td>
        </tr>
        <tr>
            <th>Sophiane</th>
            <td contenteditable="true"></td>
            <td contenteditable="true">X</td>
            <td contenteditable="true"></td>
        </tr>
        </tbody>
    </table>
</center>
</body>
<html>