<!DOCTYPE html>
<html>
<head>
    <title>tableau</title>
</head>
<body style="background-color: lightgrey;">
<hr width="600">
<h2 style="color: darkblue; text-align: center;">Votre réponse à été enregistré avec succès :) </h2>
<hr width="600">
</body>
</html>