<html>
<head>
    <title>Sondages</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- css -->

    <!-- javascript -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <!-- javascript -->
</head>
<body style="background-color: lightgrey;">
<a href="/" class="btn btn-outline-dark" style="border-radius: 20px;">< Retour</a>
<center>
<h2 style="text-decoration: underline dotted;">Sondage n° <%= id %> </h2>
<hr width="200">
    <h5 style="border: solid 1px darkblue; width: 20%; color: darkblue;"><%= sondage.sondage %></h5>
    <!-- <p>Question : <%= sondage.sondage %></p> -->
<hr width="200">


<table class="table" id="tableau" style="width: 50%;">
        <thead class="thead-light">
        <tr>
            <th>Participants</th>
            <th>04/09/2020 (14h - 16h)</th>
            <th>07/09/2020 (14h - 16h)</th>
            <th>08/09/2020 (14h - 16h)</th>
        </tr>
        </thead>
        <form action="/reponse" method="post">

        <tr>
            <th><input type="text" name="nom" placeholder="Entrer votre prenom" required style="border-radius: 20px;"></th>
            <td>
        <div>
            <label for="oui">oui</label>
            <input type="radio" id="oui" name="choix" value="oui" required>
        </div>

        <div>
            <label for="non">non</label>
            <input type="radio" id="non" name="choix" value="non" checked required>
        </div>

        <div>
            <label for="peutetre">peut-être</label>
            <input type="radio" id="peutetre" name="choix" value="peut-être" required>
        </div>
            </td>

            <td>
        <div>
            <label for="oui">oui</label>
            <input type="radio" id="oui" name="choix2" value="oui" required>
        </div>

        <div>
            <label for="non">non</label>
            <input type="radio" id="non" name="choix2" value="non" checked required>
        </div>

        <div>
            <label for="peutetre">peut-être</label>
            <input type="radio" id="peutetre" name="choix2" value="peut-être" required>
        </div>
            </td>

            <td>
        <div>
            <label for="oui">oui</label>
            <input type="radio" id="oui" name="choix3" value="oui" required>
        </div>

        <div>
            <label for="non">non</label>
            <input type="radio" id="non" name="choix3" value="non" checked required>
        </div>

        <div>
            <label for="peutetre">peut-être</label>
            <input type="radio" id="peutetre" name="choix3" value="peut-être" required>
        </div>
        
            </td>
        </tr>
    </table>
    <input type="submit" class="btn btn-success" value="Valider mon choix" style="border-radius: 20px;">
    </form>

</center>
</body>
<html>